http://forums.asp.net/.html			
http://forums.asp.net//members/XIII.aspx.html	http://forums.asp.net/	/html/body/div/div/div/div/div/div/div/div/a[]	/html/body/div[1]/div[3]/div[2]/div/div[3]/div[3]/div/div[16]/a
http://forums.asp.net//default.aspx/7?General+ASP+NET.html	http://forums.asp.net/	/html/body/div/div/div/div/table/thead/tr/th/a[]	/html/body/div[1]/div[3]/div[1]/div[2]/table[1]/thead/tr/th[1]/a
http://forums.asp.net//p/2087602/6029757.aspx?Re+How+to+hide+checkbox+from+Gridview+using+ASP+NET+C+.html	http://forums.asp.net/	/html/body/div/div/div/div/table/tbody/tr/td/a[]	/html/body/div[1]/div[3]/div[1]/div[2]/table[1]/tbody/tr[1]/td[2]/a[1]
http://forums.asp.net//members/a2h.aspx.html	http://forums.asp.net/	/html/body/div/div/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[3]/div[2]/div/div[3]/div[1]/ul/li[8]/a
http://forums.asp.net//130.aspx/1?HTML+CSS+and+JavaScript.html	http://forums.asp.net/	/html/body/div/div/div/div/table/tbody/tr/td/h4/a[]	/html/body/div[1]/div[3]/div[1]/div[2]/table[1]/tbody/tr[9]/td[1]/h4/a
http://forums.asp.net//t/2087379.aspx?Connecting+to+2+different+databases+MsSQL+MySQL+Possible+.html	http://forums.asp.net/	/html/body/div/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[3]/div[2]/div/div[6]/ul/li[8]/a
http://forums.asp.net//members/Yohann%20Lu.aspx.html	http://forums.asp.net/	/html/body/div/div/div/div/div/div/div/div/h4/a[]	/html/body/div[1]/div[3]/div[2]/div/div[3]/div[3]/div/div[9]/h4/a
http://forums.asp.net//f/topanswerers/0/30/1.html	http://forums.asp.net/	/html/body/div/div/div/div/div/div/h3/span/a[]	/html/body/div[1]/div[3]/div[2]/div/div[3]/div[1]/h3/span[2]/a
http://forums.asp.net//private-message/set/XIII.html	http://forums.asp.net//members/XIII.aspx	/html/body/div/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[2]/div[2]/div/div[2]/ul/li[2]/a
http://forums.asp.net//members/Mikesdotnetting.aspx.html	http://forums.asp.net//members/XIII.aspx	/html/body/div/div/div/div/a[thumb-friend]	/html/body/div[1]/div[2]/div[1]/div[3]/a[26]
http://forums.asp.net//search?q=authors%3A%28XIII%29&s=postDate&d=desc.html	http://forums.asp.net//members/XIII.aspx	/html/body/div/div/div/div/div/table/tbody/tr/td/a[]	/html/body/div[1]/div[2]/div[2]/div/div[1]/table/tbody/tr[5]/td/a
http://forums.asp.net//members/Faraz%20A.%20Qureshi.aspx.html	http://forums.asp.net//default.aspx/7?General+ASP+NET	/html/body/div/div/div/div/table/tbody/tr/td/a[]	/html/body/div[1]/div[3]/div[1]/div/table/tbody/tr[11]/td[2]/a[2]
http://forums.asp.net//f/unanswered/0/1/20.html	http://forums.asp.net//default.aspx/7?General+ASP+NET	/html/body/div/div/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[3]/div[2]/div/div[1]/div/ul/li[2]/a
http://forums.asp.net//1248.aspx/1?Single+Page+Application.html	http://forums.asp.net//default.aspx/7?General+ASP+NET	/html/body/div/div/div/div/table/tbody/tr/td/h4/a[]	/html/body/div[1]/div[3]/div[1]/div/table/tbody/tr[19]/td[1]/h4/a
http://forums.asp.net//search.html	http://forums.asp.net//p/2087602/6029757.aspx?Re+How+to+hide+checkbox+from+Gridview+using+ASP+NET+C+	/html/body/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[2]/div[5]/div[1]/ul/li[5]/a
http://forums.asp.net//t/rss/2087602.html	http://forums.asp.net//p/2087602/6029757.aspx?Re+How+to+hide+checkbox+from+Gridview+using+ASP+NET+C+	/html/body/div/div/h1/a[icon]	/html/body/div[1]/div[2]/h1/a
http://forums.asp.net//members/mazhar%20khan%20india.aspx.html	http://forums.asp.net//p/2087602/6029757.aspx?Re+How+to+hide+checkbox+from+Gridview+using+ASP+NET+C+	/html/body/div/div/ul/li/div/h3/a[]	/html/body/div[1]/div[2]/ul/li[1]/div[1]/h3/a
http://forums.asp.net//24.aspx/1?Web+Forms+Data+Controls.html	http://forums.asp.net//p/2087602/6029757.aspx?Re+How+to+hide+checkbox+from+Gridview+using+ASP+NET+C+	/html/body/div/div/a[]	/html/body/div[1]/div[1]/a[4]
http://forums.asp.net//private-message/set/a2h.html	http://forums.asp.net//members/a2h.aspx	/html/body/div/div/div/div/div/ul/li/a[]	/html/body/div[1]/div[2]/div[2]/div/div[2]/ul/li[2]/a
